#sendEmailButton, #resetPasswordButton, #quitButton {
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-font-size: 16;
}

#sendEmailButton {
    -fx-background-color: #fad390;
}

#resetPasswordButton {
    -fx-background-color: #34b581;
}

#quitButton {
    -fx-background-color: #ff7675;
}

.text-field {
    -fx-font-size: 16;
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
}